<%-include('./partials/top.ejs')-%>

<style>
    .image-input {
        max-width: 180px;
    }
</style>

<br>

<form action="/edit<%= query %>" method="POST" enctype="multipart/form-data" class="form-group" id="content-form">

    <input type="text" id="thumbnailText" name="thumbnailText" value="<%= blog.thumbnailText %>" class="form-control" />

    <input type='file' id="thumbnailImg" name="thumbnailImg" onchange="readURL(this);" class="form-control-file"/>
    <img class="image-input img-thumbnail" id="thumbnailImg_" src=<%=`images/${blog.thumbnailImg}`%> alt="your image" />

    
    <div id="content" class="container"></div>
    <br><br><br>
    <button onclick="addBlock()" type="button" id="AddBlockButton">Start Editing</button>

    <br><br><br>
    <button type="submit" value="cancel" class="btn btn-danger">Cancel</button>
    <button type="button" value="upload" class="btn btn-primary" onclick="SubmitForm()">Upload</button>
</form>

<script>

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                //the input can detect it's unique preview by it's own Id
                //the id of the preview field is it id of the input followed by an '_'
                //eg, if the id of input is 'someId', then it's corresponding preview's id = 'someId_'
                $(`#${input.id}_`).attr('src', e.target.result);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }

    var imageIdCount = 0
    function getImageId(){
        return `image${imageIdCount++}`
    }

    var videoIdCount = 0
    function getVideoId(){
        return `video${videoIdCount++}`
    }

    var headerNameIndex = 0
    function getHeaderName(){
        return `header${headerNameIndex ++ }`
    }

    var paragraphNameIndex = 0
    function getParagraphName(){
        return `paragraph${paragraphNameIndex++}`
    }

    var proceed = false
    function addBlock(){
        if(!proceed){
            proceed = confirm('Editing Will Lead To Deletion of Any of The Previous Content Uploaded. Do You Want To Proceed?')
        }

        if(proceed){
            const content = document.createElement('div')
            content.classList.add('content-block')
            content.appendChild(document.createElement('hr'))

            const header = document.createElement('input')
            header.type = 'text'
            header.name = getHeaderName()
            header.placeholder = 'Add New Header'
            header.classList.add('header', 'form-control')
            content.appendChild(header)

            const imageDiv = document.createElement('div')
            imageDiv.classList.add('float-left')
                const imageInput = document.createElement('input')
                const imageId = getImageId()
                imageInput.id = imageId
                imageInput.type = 'file'
                imageInput.name =  imageId
                imageInput.value = null
                imageInput.classList.add('form-control-file')
                imageInput.setAttribute('onchange', "readURL(this)")
                const previewImage = document.createElement('img')
                previewImage.classList.add('image-input', 'img-thumbnail')
                previewImage.id = imageId + '_'
                previewImage.src= 'http://placehold.it/180'
                previewImage.alt='your image'
                imageDiv.appendChild(imageInput)
                imageDiv.appendChild(previewImage)
            content.appendChild(imageDiv)

            const textAreaDiv = document.createElement('div')
            textAreaDiv.classList.add('float-right')
                const paragraph = document.createElement('textarea')
                paragraph.name = getParagraphName()
                paragraph.classList.add('form-control', 'float-right')
                paragraph.placeholder = 'Write Something'
                paragraph.rows = 10
                textAreaDiv.appendChild(paragraph)
            content.appendChild(textAreaDiv)

            document.getElementById('content').appendChild(content)

            document.getElementById('AddBlockButton').innerHTML = 'Add Another Block'
        }
    }

    function SubmitForm(){
        const length = document.getElementsByClassName('content-block').length
        const contentLength = document.createElement('input')
        contentLength.name = 'contentLength'
        contentLength.value = length

        const Form = document.getElementById('content-form')
        Form.appendChild(contentLength)
        Form.submit()
    }
</script>

<%-include('./partials/bottom.ejs')-%>